/*
FLEXBOX
*/

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(197, 243, 239);
    margin: 40px;
  }

  .flex-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(197, 243, 239);
    margin: 40px;

  }

.navbar{
  height: 50px;
  border: solid 1px black;
  background-color: rgb(220, 235, 255);
  color: rgb(0, 0, 0);
}
.navbar-footer{
  height: 100px;
  border: solid 1px black;
  background-color: rgb(220, 235, 255);
  color: rgb(0, 0, 0);
}

  .flex-center{
    display: flex;
    color: rgba(50, 150, 10, 0.719);
    align-items: center;
}


  /* slett meg */

  .one{
      border-style: solid;
      border-color: rgba(0, 0, 0, 0.973);
      height: 150px;
      width: 800px;
      margin: 10px;
  }

  .two{
  border-style:solid;
  border-color: rgb(0, 0, 0);
  height: 100px;
  width: 100px;    
  margin: 50px;
  }


/* grid */

.viewport-container{
  height: 100vh;
  width: 100vw;
}

.grid-layout{
  display: grid;
  grid-template-rows: 5% 1fr 5%;
  grid-template-columns: 1fr 1fr 1fr; 
  height: 100%;
}

.grid-layout2{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr; 
  height: 100%;
}

.top{
grid-row: 1/3;
grid-column: 2/4;
}
.middle{
grid-row: 2/3;
grid-column: 1/4;
}
.bottom{
grid-row: 3/4;
grid-column: 1/4
}
.center-area{
  grid-row: 2/3;
  grid-column: 1/4;
}



.blue{
  background-color: blue;
}
.red{
  background-color: red;
}
.green{
  background-color: green;
}
.yellow{
  background-color: yellow;
}